@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to a better Apartment Search</h1>
    <img style="margin: 0 auto;" src="/skyline.jpg" /> 
</div>

<div class="container">
    <h2 class ="text-center">The Problem</h2>
    <img src="problem_solving.png" style="width: 200px; height: 200px; margin: 0 auto; display: block;" />
    <p>Searching for an apartment can be a stressful moment and given all of the information resources out there who can you trust to provide reliable and up-to-date information on the status of a complex? With Google reviews, apartment owners can curate their customer reviews which can often lead to inaccurate and biased results. With all the information out there that can be manipulated, photoshopped, or even bought, who can you trust?</p>
    <h2 class="text-center">The Solution</h2>
    <div class="container" style="width: 100%;">
        <img src="thesolution.png" style="width: 200px; height: 200px; margin: 0 auto; display: block;" />
    </div>
    
    <p>This is where we have sought out a way to make apartment searching better. By comparing apartment locations with unbiased and publicly available 311 data consumers can verify if the rating on google is comparable to the 311 data on the property. While on google an apartment could be rated as a 4-star property but according to 311 data the property has 10 rodent infestation violations. Public data is not as easily manipulated as other sources of data and having this data readily accessible can help consumers make better and more informed decisions bout their housing options.</p>
</div>