@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size:20px">Triangle knows that its users' data is very important to them. 
    Triangle does not sell any data to the penguins in Antarctica, 
    The Lions in the Himalayas, The Dragons at the North Pole, Nor any programmers that are attending CodeRED in October of 2022. 
    Triangle receives and stores information in our hard working computers, so your information is absolutely safe behind our firewalls. 
    Triangle asks for access to your camera, microphone, and exact keyboard touches to keep you safe. We do this by taking that information and scraping the internet so that we can see if any of the information is already on the web! 
    Triangle is not responsible for any pictures, sounds, or typed documents being on the web! 
    </p>

<p style="font-size:20px">
    Triangle is not responsible for any alien abductions that happen at new residences that were to be found using our site. 
    Triangle has no correlation to any recent disappearances and our featured sites. This is just a very sad correlation event, not causation. 
    Triangle is not responsible for any problems that happen at your new residence that was found due to our site. 
    Triangle owns any information searched on our site for data science purposes. We are always trying to improve the site, and we do this by seeing what users are interested in. 
   </p>

<p style="font-size:20px">
    It is recommended that you do not search anything that could lead to your own or our arrest. If this happens the user will immediately be billed a small damage bill of one million dollars,and not be able to use our site for the rest of their mortal life. 
    Triangle is not responsible for other tenants that may seem unsafe, too safe, or suspicious. To keep you safe we recommend going for the most expensive featured option on our list. 
    This way you can get the best deal and be as safe as humanly possible. Triangle is responsible for any money you make during your residency at the new apartment. 
    Since we are responsible we will ask politely for six dollars out of every eight dollars earned for the rest of your mortal life. Triangle takes cookies from your oven to make our website better, and more optimized. 
    We assure you if they do not taste perfect that we will be sending a hitman to your house to take you out for your sins. 
    Triangle is not in any way responsible for hitmen that come to your residence for not using Comic Sans MS on any documents.  Triangle is not in any way responsible for any cookies you decide to give us during internet searches. </p>
