@page
@model Apartment.Pages.SearchModel
@{
    SearchModel smodel = new SearchModel(0);
    static void SetMinCost(int x) {
       // smodel.MinCost = x;
    }
}


<form>
    <h1>Filter</h1>
    <label for="customRange2" class="form-label">Minimum Cost</label> 
    <input type="range" class="form-range" step="1" min="0" max="10000" id="customRange2">

    <label for="customRange2" class="form-label">Maximum Cost</label>
    <input type="range" class="form-range" step="1" min="0" max="10000" id="customRange2">

    <label for="customRange2" class="form-label">User Rating</label>
    <input type="range" class="form-range" step="0.1" min="0" max="5" id="customRange2">

    <label for="customRange2" class="form-label">Violation Rating</label>
    <input type="range" class="form-range" step="0.1" min="0" max="5" id="customRange2">

    <p>pets allowed?</p>
    <input type="checkbox" />

    <input type="submit" value="Submit" asp-page-handler="Submit" />
</form>