@page
@model Apartment.Pages.Violation2Model
@{
    ViolationModel vmodel = new ViolationModel();
   // Console.WriteLine(vmodel.GetHtmlFromCsvFile(vmodel.csvFile));
}
<p>@vmodel.GetHtmlFromCsvFile(vmodel.csvFile)</p>