@page
@model Apartment.Pages.Violation2Model
@{
    Violation2Model vmodel = new Violation2Model();
   // Console.WriteLine(vmodel.GetHtmlFromCsvFile(vmodel.csvFile));
}
<p>@vmodel.GetHtmlFromCsvFile(vmodel.csvFile)</p>