@page
@model Apartment.Pages.ViolationModel
@{
    //ViolationModel vmodel = new ViolationModel();
    //vmodel.GetHtmlFromCsvFile(vmodel.csvFile);
}
<p>hello</p>
<p>vmodel.GetHtmlFromCsvFile(vmodel.csvFile);</p>