body {
    display: grid;
    height: 100vh;
    place-items: center;
    width: 100%;
}

.input-wrapper {
    display: block;
    font-family: monospace;
    font-size: 125%;
    width: 50%;

    > input,
    > .placeholder {
        display: block;
        appearance: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
    }

    > .placeholder {
        pointer-events: none;
        @include typed( "Better pizza", "Better ingredients", "Papa Johns", 1.5, ( caret-width: 2px, caret-space: 2px ) );
    }

    > input {
        &:focus,
        &:active {
            + .placeholder {
                display: none;
            }
        }
    }
}